@import 'src/app/utils/varables';

.search-input {
  width: 100%;
}

:host {
  ::ng-deep {
    .mat-raised-button {
      background: $color-secondary;

      &:hover {
        transition: all 0.3s ease;
        background: rgba($color-secondary, 0.8);
      }
    }
  }
}
