$color-primary: #3f51b5;
$color-secondary: #15a8ad;

$color-accent: #ff7413;
$color-accent-hover: #e56004;

$color-danger: #c90404;

$color-disabled: rgba(black, 0.42);
$color-border: #cecece;

$gray-light: #f5f5f5;
